{% extends 'agent/baseagent.html' %}

{% block content %}


<style>
    .img{
        height:250px ;
        width: 100%;

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
        

    }
    .bg{
        background-image: linear-gradient(45deg,rgb(32, 8, 57),purple);
    }
</style>
<h6 class="text-danger" id="err">{% for i in messages %}{{i}}{% endfor %}</h6>

<div class=" ">
<div class="container-fluid content-wrapper rounded bg">
    <div class="row">
        <div class="col-sm-4  ">
            <div class="content-wrapper text-center d-flex flex-column align-items-center justify-content-center h-full text-white br-5">
                <h4>Campain Name</h4>   
                <h1>{{data.name}}</h1>
             
            </div>

        </div>
        <div class="col-sm-8">
            <div class="img content-wrapper p-3 br-5">
                {% if data.image %}
                <img src="{{data.image.url}}" alt="">
                {% endif %}
            </div>
        </div>
    </div>
    <div class="d-flex text-white justify-content-around pt-2 flex-wrap">
        <span>Place : <i>{{data.place}}</i></span>
        <span>Date : <i>{{data.date}}</i></span>
        <span>Time : <i>{{data.time}}</i></span>
        <span>Agent : <i>{{data.agent.user.username}}</i></span>
        <a href="{% url 'addClients' data.id %}" class="btn btn-warning">Add clients</a>

    </div>
</div>
</div>

<div class="container-fluid py-4">
<div class="content-wrapper">
    
    <h2>View Clients</h2>
    <div class="table-responsive mh-500">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th> Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>View Details</th>
                </tr>
                    
                    
        
        <tbody>
            {% for i in cdata reversed %}

           <tr>
             <td>{{i.user.user.first_name}} {{i.user.user.last_name}}</td>
            <td>{{i.user.user.email}}</td>
            <td>{{i.user.phone}}</td>
            <td>{{i.user.address}}</td>
           
            <td><a href="{% url 'editClients' i.id %}" class="btn btn-primary">Edit</a></td>
            <td><a href="{% url 'delete_Clients' i.id%}" class="btn btn-danger">Delete</a></td>
            <td><a href="{% url 'Viewe_Client' i.id%}" class="btn btn-warning">View</a></td>
           </tr>
           
           
            {% endfor %}
            


        </tbody>
        

            
        </table>
        {% for i in cdata%}
        {% empty %}
            <h1 class="text-center">No Clients Found</h1>
            {% endfor %}
    </div>
</div>
</div>
{% endblock %}


