    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


<h6 class="text-danger" id="err">{% for i in messages %}{{i}}{% endfor %}</h6>


<div class="">
    <form action="{% url 'edit_Clients' data.id %}" method="post" enctype="multipart/form-data" onsubmit="return val(event)">
        {% csrf_token %}
        <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name" required value="{{data.user.user.first_name}}">
        </div>
        <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name" required value="{{data.user.user.last_name}}">
        </div>
        
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" required value="{{data.user.user.email}}">
            <small id="emailerror" class="form-text text-danger">{{emailerror}}</small>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" required value="{{data.user.phone}}">
            <small id="phoneerror" class="form-text text-danger">{{phoneerror}}</small>
        </div>
        <div class="form-group">
            <label for="address">Address </label>
            <input type="text" class="form-control" id="address" name="address" placeholder="Address" required value="{{data.user.address}}">
        </div>

        <div class="form-check form-check-inline">
            <label for="gender">Gender </label>
            <input type="radio" class="form-check-input"  id="gender1" value="male"  name="gender" required {% if data.user.gender == 'male' %}checked{% endif %}> <label for="gender1" class="form-check-label" >Male</label>
            <input type="radio" class="form-check-input"  id="gender2" value="female"  name="gender" required {% if data.user.gender == 'female' %}checked{% endif %}> <label for="gender2" class="form-check-label">Female</label>
            <input type="radio" class="form-check-input"  id="gender3" value="others"  name="gender" required {% if data.user.gender == 'others' %}checked{% endif %}> <label for="gender3" class="form-check-label">Others</label>
        </div>

        <div class="form-group">
            <label for="dob">Date Of Birth </label>
            <input type="date" class="form-control" id="dob" name="dob" placeholder="Date Of Birth " required value="{{data.user.dob|date:'Y-m-d'}}">
        </div>
        
        <div class="form-group">
            <label for="profile">Profile </label>
            {% if data.user.profile %}
            <p>Current profile image:</p>
            <div>
                <img src="{{ data.user.profile.url }}" alt="Current Profile" style="max-width: 150px; height: auto; margin-bottom: 10px; border-radius: 5px;">
            </div>
            {% endif %}
            <label for="profile">Change/Upload new Profile Image</label>
            <input type="file" class="form-control" accept="image/*" id="profile" name="profile">
        </div>


        <div class="form-group">
            <label for="aadhar">Aadhar </label>
            <input type="number" class="form-control"  id="aadhar" name="aadhar" placeholder="Aadhar Number" required value="{{data.user.aadhar}}">
            <small id="aadharerror" class="form-text text-danger">{{aadharerror}}</small>
        </div>


        <div class="form-group">
            <label for="pan">Pan </label>
            <input type="text" class="form-control"  id="pan" name="pan" placeholder="PAN Number" required value="{{data.user.pan}}">
            <small id="panerror" class="form-text text-danger">{{panerror}}</small>
        </div>


        <div class="form-group">
            <label for="anualincome">Anual Income</label>
            <input type="text" class="form-control"  id="anualincome" name="anualIncome" placeholder="Annual Income" required value="{{data.anualIncome}}">
        </div>


        <div class="form-check form-check-inline">
            <label for="mariage">Marriage Status </label>
            <input type="radio" class="form-check-input"  id="mariage1" value="yes"  name="marrage" required {% if data.marrage == 'yes' %}checked{% endif %}> <label for="mariage1" class="form-check-label">Married</label>
            <input type="radio" class="form-check-input"  id="mariage2" value="no"  name="marrage" required {% if data.marrage == 'no' %}checked{% endif %}> <label for="mariage2" class="form-check-label">Single</label>
        </div>


        <div class="form-group">
            <label for="children">No of Childeren </label>
            <input type="text" class="form-control"  id="children" name="children" placeholder="Number of Children"  value="{{data.children}}">
        </div>


        <div class="form-group">
            <label for="education">Education </label>
            <input type="text" class="form-control"  id="education" name="education" placeholder="Education" required value="{{data.education}}">
        </div>

        <div class="form-group">
            <label for="occupation">Occupation </label>
            <input type="text" class="form-control"  id="occupation" name="occupation" placeholder="Occupation" required value="{{data.occupation}}">
        </div>

         <div class="form-check form-check-inline">
            <label for="otherpolicy">Other Policy </label>
            <input type="radio" class="form-check-input"  id="otherpolicy1" value="yes"  name="otherpolicy" required {% if data.otherpolicy == 'yes' %}checked{% endif %}> <label for="otherpolicy1" class="form-check-label">yes</label>
            <input type="radio" class="form-check-input"  id="otherpolicy2" value="no"  name="otherpolicy" required {% if data.otherpolicy == 'no' %}checked{% endif %}> <label for="otherpolicy2" class="form-check-label">No</label>
        </div>

        <div class="form-group">
            <label for="policyno">Policy Number </label>
            <input type="text" class="form-control"  id="policyno" name="policyno" placeholder="Policy Number" value="{{data.policynumber}}">
        </div>

        <div class="form-check form-check-inline">
            <label for="changepolicy"> Do you want to Change the Policy ? </label>
            <input type="radio" class="form-check-input"  id="changepolicy1" value="yes"  name="changepolicy" required {% if data.changePolicy == 'yes' %}checked{% endif %}> <label for="changepolicy1" class="form-check-label">yes</label>
            <input type="radio" class="form-check-input"  id="changepolicy2" value="no"  name="changepolicy" required {% if data.changePolicy == 'no' %}checked{% endif %}> <label for="changepolicy2" class="form-check-label">No</label>
        </div>
        <div class="form-group">
            <label for="clientRating">client Rating  </label>
            <input type="text" class="form-control"  id="clientRating" name="clientRating" placeholder="Policy Number" value="{{data.clientRating}}">
        </div>



        <input type="submit" class="form-control btn btn-info">


        </div>
    </form>
</div>

<script>

  function val(e){
            email=document.getElementById("email").value
            contact=document.getElementById("phone").value
            err=document.getElementById('err')
            if (err) {
                err.innerHTML="";
            }
            emailpattern = /^[^\s@]+@gmail\.[^\s@]+$/;

            // emailpattern=/^[^\s@]+@[^gmail\.com]+$/;
            phonepattern=/^[6-9][0-9]{9}$/;

            if (! emailpattern.test(email)){
                err.innerHTML="invalid email address"
                return false;

            }
            else if (contact && !phonepattern.test(contact)){
                err.innerHTML="Phone number must contan 10 digits and starts with 6-9"
                return false;
            }
            else{
                err.innerHTML="";
                return true;
            }

        }


    $(document).ready(function(){
       

    $("#email").keyup(function(){

            checkemail()
    })

    $("#phone").keyup(function(){

        checkphone()
    })

    $("#aadhar").keyup(function(){

        checkaadhar()
    })

    $("#pan").keyup(function(){

        checkpan()
    })


})

    




function checkemail(){
    email=$('#email').val()
    if (email.length==0){
        $('#emailerror').text('')
        return
    }
    $.ajax({
        type:'GET',
        url:"{% url 'echackmail' %}?email="+email,
        success:function(response){
            if(response.user){
                $('#emailerror').text('email alredy exist')
                
            }else{
                $('#emailerror').text('')
            }
        }
    })
}



function checkphone(){
    phone=$('#phone').val()
    if (phone.length==0){
        $('#phoneerror').text('')
        return
    }
    $.ajax({
        type:'GET',
        url:"{% url 'echackphone' %}?phone="+phone,
        success:function(response){
            if(response.user){
                $('#phoneerror').text('phone number alredy exist')
                
            }else{
                $('#phoneerror').text('')
            }
        }
    })
}

function checkaadhar(){
    aadhar=$('#aadhar').val()
    if (aadhar.length==0){
        $('#aadharerror').text('')
        return
    }
    $.ajax({
        type:'GET',
        url:"{% url 'echackaadhar' %}?aadhar="+aadhar,
        success:function(response){
            if(response.user){
                $('#aadharerror').text('aadhar number alredy exist')
                
            }else{
                $('#aadharerror').text('')
            }
        }
    })
}

function checkpan(){
    pan=$('#phone').val()
    if (pan.length==0){
        $('#panerror').text('')
        return
    }
    $.ajax({
        type:'GET',
        url:"{% url 'echackpan' %}?pan="+pan,
        success:function(response){
            if(response.user){
                $('#phoneerror').text('pan number alredy exist')
                
            }else{
                $('#phoneerror').text('')
            }
        }
    })
}

</script>

