<!-- Footer -->
 <style>
    .h-content{
        height: min-content;
    }
 </style>
<footer class="bg-dark text-white pt-3 pb-3 mt-5">
    <div class="containe text-center text-md-left h-content">
        <div class="row text-justify  px-3">
            <div class=" col-sm-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-info">Insurance CRM</h5>
                <p>Your trusted partner in managing agents and campain relationships and managing insurance sales. </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 text-left">
                <h5 class="text-uppercase mb-4 font-weight-bold text-info">Quick Links</h5>
                <p><a href="{% url 'admin' %}" class="text-white" style="text-decoration: none;">Dashboard</a></p>
                <p><a href="{% url 'viewCampain' %}" class="text-white" style="text-decoration: none;">Campaigns</a></p>
                <p><a href="{% url 'viewAgents' %}" class="text-white" style="text-decoration: none;">Agents</a></p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 text-left ">
                <h5 class="text-uppercase mb-4 font-weight-bold text-info">Contact</h5>
                <p><i class="fas fa-home mr-3"></i>Location</p>
                <p><i class="fas fa-envelope mr-3"></i>Admininsurance@gmail.com</p>
                <p><i class="fas fa-phone mr-3"></i>Contact</p>
            </div>
        </div>

        <hr class="mb-4">

        <div class="row align-items-center">
            <div class="col-md-7 col-lg-8">
                <p class="text-center text-md-left mb-md-0 mb-2">&copy; {% now "Y" %} Insurance CRM. All Rights Reserved.</p>
            </div>
            
        </div>
    </div>
</footer>