{% extends 'admin/baseadmin.html' %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


<div class="container d-flex justify-content-center align-items-center py-5 ">
    <div class="content-wrapper w-100 br-5">
        
    <h1>Register Agents</h1>
    <h6 class="text-danger" id="err">{% for i in messages %}{{i}}{% endfor %}</h6>
    <form action="{% url 'reg_agents' %}" method="post" enctype="multipart/form-data" onsubmit="return val(event)">

        {% csrf_token %}

        <div class="row">
            <div class="col-sm-6">
            <div class="form-group">
                <label for="fname">First Name</label>
                <input type="text" class="form-control" id="fname" name="fname" required>
        </div>
            </div>
            <div class="col-sm-6">
            <div class="form-group">
                <label for="lname">Last Name</label>
                <input type="text" class="form-control" id="lname" name="lname"  required>
        </div>
            </div>

        </div>


        <div class="row">
            <div class="col-sm-6">
            <div class="form-group">
                <label for="uname">Username</label>
                <input type="text" class="form-control" id="uname" name="uname" required>
                <small id="unameerror" class="form-text text-danger">{{unameerror}}</small>
        </div>
            </div>
            <div class="col-sm-6">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" name="email"  required>
                <small id="emailerror" class="form-text text-danger">{{emailerror}}</small>
        </div>
            </div>

        </div>


        <div class="row">
            <div class="col-sm-6">
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" name="phone" required>
                <small id="phoneerror" class="form-text text-danger">{{phoneerror}}</small>
        </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                <label for="address">Address </label>
                <input type="text" class="form-control" id="address" name="address" required>
        </div>

            </div>

        </div>
        
        <div class="form-group">
            <label for="profile">Profile </label>
            <input type="file" class="form-control" accept="image/*" id="profile" name="profile">
        </div>

        <input type="submit" class="form-control btn btn-info" id="submit">

</form>
        </div>
    
    </div>

<script>
    // document.getElementById('email').addEventListener('keyup', function() {
    //     var evalue = this.value;
    //     var emailerror = document.getElementById("emailerror");
    //     var emailpattern = /^[^\s@]+@gmail\.[^\s@]+$/;
    //     if (evalue.length > 0) {
    //         if (!emailpattern.test(evalue)) {
    //             emailerror.innerHTML = "invalid email address";
    //         } else {
    //             emailerror.innerHTML = "";
    //         }
    //     } else {
    //         emailerror.innerHTML = "";
    //     }
    // });

    // document.getElementById('phone').addEventListener('keyup', function() {
    //     var contact = this.value;
    //     var phoneerror = document.getElementById("phoneerror");
    //     var phonepattern = /^[6-9][0-9]{9}$/;
      
    //         if (!phonepattern.test(contact)) {
    //             phoneerror.innerHTML = "Phone number must contain 10 digits and starts with 6-9";
    //         } else {
    //             phoneerror.innerHTML = "";
    //         }
    //     } else {
    //         phoneerror.innerHTML = "";
    //     }
    // });




     function val(e){
            email=document.getElementById("email").value
            contact=document.getElementById("phone").value
            err=document.getElementById('err')
            if (err) {
                err.innerHTML="";
            }
            emailpattern = /^[^\s@]+@gmail\.[^\s@]+$/;

            // emailpattern=/^[^\s@]+@[^gmail\.com]+$/;
            phonepattern=/^[6-9][0-9]{9}$/;

            if (! emailpattern.test(email)){
                err.innerHTML="invalid email address"
                return false;

            }
            else if (contact && !phonepattern.test(contact)){
                err.innerHTML="Phone number must contan 10 digits and starts with 6-9"
                return false;
            }
            else{
                err.innerHTML="";
                return true;
            }

        }


    $(document).ready(function(){
        $("#uname").on('keyup',function(){

            checkuname()
        })

    $("#email").keyup(function(){

            checkemail()
    })

    $("#phone").keyup(function(){

        checkphone()
    })
})

function checkuname(){
    var uname = $("#uname").val()
    if (uname.length ==0){
        $('#unameerror').text('')
        return
    }
   
    $.ajax({
        type:'GET',
        url:"{% url 'checkuname' %}?username="+uname,
        success:function(response){
            if (response.user ){
                $('#unameerror').text('username alredy exist')
                $('#submit').attr('disabled', true);
            }else{
                $('#unameerror').text('')
                $('#submit').removeAttr('disabled');

            }


    }})
}


function checkemail(){
    email=$('#email').val()
    if (email.length==0){
        $('#emailerror').text('')
        return

    }
    var emailpattern = /^[^\s@]+@gmail\.[^\s@]+$/;
    if (! emailpattern.test(email)){
       
        $('#emailerror').text('invalid email address pattern')
        $('#submit').attr('disabled', true);
        return
    }
    $.ajax({
        type:'GET',
        url:"{% url 'chackmail' %}?email="+email,
        success:function(response){
            if(response.user){
                $('#emailerror').text('email alredy exist')
                $('#submit').attr('disabled', true);
                
            }else{
                $('#emailerror').text('')
                $('#submit').removeAttr('disabled');
            }
        }
    })
}



function checkphone(){
    phone=$('#phone').val()
    if (phone.length==0){
        $('#phoneerror').text('')
        return
    }
     var phonepattern = /^[6-9][0-9]{9}$/;     
            if (!phonepattern.test(phone)) {
                $('#phoneerror').text("Phone number must contain 10 digits and starts with 6-9");
                $('#submit').attr('disabled', true);
                return
            }
    $.ajax({
        type:'GET',
        url:"{% url 'chackphone' %}?phone="+phone,
        success:function(response){
            if(response.user){
                $('#phoneerror').text('phone number alredy exist')
                $('#submit').attr('disabled', true);
                
            }else{
                $('#phoneerror').text('')
                $('#submit').removeAttr('disabled');
            }
        }
    })
}
    
</script>

{% endblock %}