{% extends 'base.html'%}

{% block content %}
{% load static %}
<style>
    .bg1{
        background-image: url("{% static 'home3.png' %}");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white

    }
    .content-wrapper{
        background-image: linear-gradient(45deg,rgb(238, 233, 244),rgb(255, 255, 255));
    }
</style>
<div class="container-fluid d-flex justify-content-center align-items-center py-5 bg1 h-100 text-dark">
    <div class="content-wrapper  mw-500  ">
    <h1>Login</h1>
        <h6 class="text-danger" id="err">{% for i in messages %}{{i}}{% endfor %}</h6>
<hr>

    <form action="{% url 'log' %}" method="post">
        {% csrf_token %}

        <div class="form-group">    
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <input type="submit" class="form-control btn btn-info">
    </form>
        </div>
   
</div>
{% endblock %}